cg10 {
    color: #f2f4f8
}
cg20 {
    color: #dde1e6
}
cg30 {
    color: #c1c7cd
}
cg40 {
    color: #a2a9b0
}
cg50 {
    color: #878d96
}
cg60 {
    color: #697077
}
cg70 {
    color: #4d5358
}
cg80 {
    color: #343a3f
}
cg90 {
    color: #21272a
}
cg100 {
    color: #121619
}