tg10 {
    color: #f4f4f4
}
tg20 {
    color: #e0e0e0
}
tg30 {
    color: #c6c6c6
}
tg40 {
    color: #a8a8a8
}
tg50 {
    color: #8d8d8d
}
tg60 {
    color: #6f6f6f
}
tg70 {
    color: #525252
}
tg80 {
    color: #393939
}
tg90 {
    color: #262626
}
tg100 {
    color: #161616
}