wg10 {
    color: #f7f3f2
}
wg20 {
    color: #e5e0df
}
wg30 {
    color: #cac5c4
}
wg40 {
    color: #ada8a8
}
wg50 {
    color: #8f8b8b
}
wg60 {
    color: #726e6e
}
wg70 {
    color: #565151
}
wg80 {
    color: #3c3838
}
wg90 {
    color: #272525
}
wg100 {
    color: #171414
}