d1 {
    color: #364B9A
}

d2 {
    color: #4A7BB7
}

d3 {
    color: #6EA6CD
}

d4 {
    color: #98CAE1
}

d5 {
    color: #C2E4EF
}

d6 {
    color: #EAECCC
}

d7 {
    color: #FEDA8B
}

d8 {
    color: #FDB366
}

d9 {
    color: #F67E4B
}

d10 {
    color: #DD3D2D
}

d11 {
    color: #A50026
}