lightBlue {
    color: #77AADD
}

orange {
    color: #EE8866
}

lightYellow {
    color: #EEDD88
}

pink {
    color: #FFAABB
}

lightCyan {
    color: #99DDFF
}

mint {
    color: #44BB99
}

pear {
    color: #BBCC33
}

olive {
    color: #AAAA00
}