s1 {
    color: #D1BBD7
}
s2 {
    color: #AE76A3
}
s3 {
    color: #882E72
}
s4 {
    color: #1965B0
}
s5 {
    color: #5289C7
}
s6 {
    color: #7BAFDE
}
s7 {
    color: #4EB265
}
s8 {
    color: #90C987
}
s9 {
    color: #CAE0AB
}
s10 {
    color: #F7F056
}
s11 {
    color: #F6C141
}
s12 {
    color: #F1932D
}
s13 {
    color: #E8601C
}
s14 {
    color: #DC050C
}